<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomoon.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:label="土曼手表测试程序" >
        <activity
            android:name="com.tomoon.sample.MainActivity"
            android:label="土曼手表测试程序"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tomoon.sample.TestHttpActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.tomoon.sample.TestNotificationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <meta-data
            android:name="is_tomoon_app"
            android:value="true" />
    </application>

</manifest>