<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomoon.sample.phone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="com.tomoon.sample.phone.TheApp"
        android:allowBackup="true"
        android:label="土曼手机端测试程序" >
        <activity
            android:name="com.tomoon.sample.phone.MainActivity"
            android:label="土曼手机端测试程序"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.tomoon.sample.phone.SampleReceiver" >
            <intent-filter>
                <action android:name="com.tomoon.sample.phone.request" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="pebble-uuid"
            android:value="ee4d768c-84c7-4352-8e4f-eef31194b183" />
    </application>

</manifest>